
.button-amount{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 2px;
}

.input-amount{
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
	width: 60px;
	text-align: center;

}

.view-page{
	margin: 10px;
	padding: 15px;

}
.addButton_view{
	text-align: center;
	margin: 10px 0 10px 0;
	
}

.student-id{
	width: 100%;
	margin: 10px 0 10px 0;

}

.student-name{
	width: 50%;
	margin: 10px 0px 10px 0px;
	padding-right: 10px;

}

.student-surname{
	width: 50%;
	margin: 10px 0px 10px 0px;
	padding-left: 5px;

}

.student-penAmount{
	margin: 10px 0 10px 0;

}

.img-card{
	text-align: center;
	margin: 10px 500px 10px 500px;
	padding: 10px;
	position: relative;
	
}

.img-card-header{
	margin: 10px 0px 10px 0px;
	padding-top: 10px;
	padding-left: 5px; 
	font-size: 20px;

}

.student-descrip{
	width: 100%;
	margin: 10px 0 10px 0;
}

img{
	height: auto;
	width: 200px;
}