<div>
  <mat-toolbar>
    <span>Student</span>
  </mat-toolbar>
</div>

<div class="view-page">
  <form>
    <mat-form-field class="student-id">
      <input matInput placeholder="Student Id" [readonly]="!editable" value="{{student.studentId}}">
    </mat-form-field>
  </form>

  <div>
    <mat-form-field class="student-name">
      <input matInput placeholder="Name"  [readonly]="!editable" value="{{student.name}}">
    </mat-form-field>
    <mat-form-field class="student-surname">
      <input matInput placeholder="Surname"  [readonly]="!editable" value="{{student.surname}}">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="student-penAmount">
      <input matInput placeholder="Pen Amount"  [readonly]="!editable" value="{{student.penAmount}}">
    </mat-form-field>
  </div>

  <div>
    <mat-card class="img-card">
      <mat-card-header class="img-card-header">Image</mat-card-header>
      <img class="img-responsive" [src]="student.image" [alt]="student.image">
    </mat-card>
  </div>

  <div>
    <mat-form-field class="student-descrip">
      <textarea matInput placeholder="Description"  [readonly]="!editable" value="{{student.description}}"></textarea>
    </mat-form-field>
  </div>

</div>