
.button-amount{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 2px;
}

.input-amount{
	text-align: center;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
	width: 60px;
	

}

.addPage{
	padding: 10px;

}

.addStudent-Id{
	width: 30%;
	margin: 10px 0 10px 0;
}

.add-button{
	text-align: center;
	margin: 10px;

}

.addStudent-Name{
	width: 45%;
	margin: 10px 10px 10px 0;
}

.addStudent-Surname{
	width: 45%;
	margin: 10px 0px 10px 10px;
}

.addStudent-penAmount{
	width: 20%;
	margin: 10px 0px 10px 0px;
	text-align: center;
}

.addStudent-fileName{
	width: 45%;
	margin: 10px 0px 10px 10px;
}

.addStudent-descrip{
	width: 45%;
	margin: 10px 0px 10px 10px;
}