 <mat-toolbar>
    <span>Add New Student</span>
  </mat-toolbar>
  
<div class="addPage">

  <div>
    <mat-form-field class="addStudent-Id" >
      <input matInput placeholder="Student Id">
    </mat-form-field>
  </div>

  <form>
    <mat-form-field class="addStudent-Name">
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="addStudent-Surname">
      <input matInput placeholder="Surname">
    </mat-form-field>
  </form>

  <div>
    <button type="button" class="btn btn-primary button-amount" (click)="downQuantity(student)">-</button>
    <mat-form-field class="addStudent-penAmount">
      <input matInput placeholder="Pen Amount" class="input-Amount" value="0">
    </mat-form-field>
    <button type="button" class="btn btn-primary button-amount" (click)="upQuantity(student)">+</button>
  </div>


  <form>
    <mat-form-field class="addStudent-fileName">
      <input matInput placeholder="File name">
      <mat-hint>Leave here for the file preview later</mat-hint>
    </mat-form-field>
  </form>

  <div>
    <mat-form-field class="addStudent-descrip">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  </div>

  <div class="add-button">
    <button type="submit" class="btn btn-info">Add</button>
  </div>
  




</div>