<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let student"> {{student.id}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- StudentId Column -->
    <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef> Student ID </th>
        <td mat-cell *matCellDef="let student"> {{student.studentId}} </td>
        <td mat-footer-cell *matFooterCellDef> Total GPA </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let student"> {{student.name}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let student"> {{student.surname}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let student">
            <img [src]=student.image [title]=student.name>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

     <!-- Pen Amount Column -->
    <ng-container matColumnDef="penAmount">
        <th mat-header-cell *matHeaderCellDef> Pen Amount </th>
        <td mat-cell *matCellDef="let student">
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
            <input matInput value="{{student.penAmount}}"/>
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <!-- GPA Column -->
    <ng-container matColumnDef="gpa">
        <th mat-header-cell *matHeaderCellDef> Gpa </th>
        <td mat-cell *matCellDef="let student"> {{student.gpa}} </td>
        <td mat-footer-cell *matFooterCellDef> {{averageGpa() | number : '1.2-2'}}</td>
    </ng-container>

   


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>